#city_page {
  display: flex;
}

#city_page_left {
  flex: 2;
  background: #f8f8f8 none repeat scroll 0 0;
  max-height: 550px;
  float: left;
  overflow-y: auto;
}

#city_page_right {
  margin-left: 5px;
  flex: 5;
}

.cityList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  overflow-y: auto;
  max-height: 450px;
}

.header {
  border-radius: 25px;
  border: 5px solid #6d6d4e;
  background-color: #6d5e9c;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  font-size: large;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  align: center;
}
